<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
    <h:outputStylesheet name="css/estilo.css" />
    <h:graphicImage name="img/google-drive-logo.png"/>
    <h:form enctype="multipart/form-data" >
        <p:growl id="messages"/>
        <p:fileUpload fileUploadListener="#{googleDriveBean.handleFileUpload}"
                      mode="advanced"
                      update="messages"
                      auto="true"
                      sizeLimit="100000"/>
    </h:form>
</h:body>
</html>