<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>


    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        function inicializarMapa(latitud,longitud) {

            var latitud = document.getElementById("form:valorLatitud").innerHTML;
            var longitud = document.getElementById("form:valorLongitud").innerHTML;

            var latlng = new google.maps.LatLng(latitud, longitud);
            var settings = {
                zoom: 15,
                center: latlng,
                mapTypeControl: true,
                mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
                navigationControl: true,
                navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
                mapTypeId: google.maps.MapTypeId.ROADMAP};
            var map = new google.maps.Map(document.getElementById("map_canvas"), settings);

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                icon: "http://www.alaya.cl/alaya/wp-content/themes/alaya/grafica/img/logos/A2.png",
                title: 'Marcador'
            });

        }
    </script>

</h:head>
<h:body id="body">
    <h:outputStylesheet name="css/estilo.css" />
    <h:graphicImage name="img/google-maps-logo.png" style="width: 300px;"/>

    <h:form id="formMensajes">
        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
    </h:form>

    <h:form id="form">

        <h:panelGrid columns="4" cellpadding="5" id="grid">
            <h:outputLabel for="name" value="Dirección:" style="font-weight:bold"/>
            <p:inputText id="name" value="#{googleMapsBean.direccion}" style="width: 400px;"/>
            <p:commandButton value="Consultar" update="form" oncomplete="inicializarMapa(-30,-30);"/>
            <h:outputLabel value="#{googleMapsBean.cordenadas}"/>
        </h:panelGrid>

        <table>
            <tr>
                <td>Respuesta Servicio</td>
                <td>Mapa</td>
            </tr>
            <tr>
                <td><h:inputTextarea value="#{googleMapsBean.respuestaServicio}" id="display" style="width: 600px; height: 400px;" /></td>
                <td> <div id="map_canvas" style="width:600px; height:400px;"/></td>
            </tr>
        </table>

        <h:outputLabel id="valorLatitud" value="#{googleMapsBean.latitud}"/>
        <h:outputLabel id="valorLongitud" value="#{googleMapsBean.longitud}"/>


    </h:form>
</h:body>
</html>